body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.square {
    width: calc(100%/16);
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 1px solid black;
}